@import "variables";

#dashboard{
  header{
    @include dropshadow(1);
    position: relative;
    width: 100%;
    height: 60px;
    background-color: white;
    .right-menu{
      float: right;
      width: auto;
      height: 60px;
      line-height: 60px;
      padding: 0 20px 0 10px;
      .icon-wrapper{
        cursor: pointer;
        display: inline-block;
        position: relative;
        height: 60px;
        .icon{
          display: inline-block;
          border-radius: 50%;
          height: 40px;
          margin: 10px;
        }
        .status{
          position: absolute;
          top: 10px;
          right: 8px;
          background-color: #4EBD65;
          height: 8px;
          width: 8px;
          border-radius: 50%;
          border: 2px solid white;
          &.streaming{
            background-color: $twitch;
          }
        }
      }
      .displayname{
        float: left;
        display: inline-block;
        padding: 0 10px;
        font-weight: 400;
      }
    }
    #user-menu{
      display: none;
      position: absolute;
      top: 40px;
      right: 35px;
      background: white;
      @include dropshadow(1);
      border-radius: 3px;
      ul{
        min-width: 125px;
        position: relative;
        padding: 10px 0;
        list-style: none;
        &:after{
          bottom: 100%;
        	right: 8px;
        	border: solid transparent;
        	content: " ";
        	height: 0;
        	width: 0;
        	position: absolute;
        	pointer-events: none;
        	border-color: rgba(255, 255, 255, 0);
        	border-bottom-color: white;
        	border-width: 8px;
        	margin-left: -8px;
        }
        margin: 0;
        li{
          padding: 0 15px;
          cursor: pointer;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }

  #container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;

    .widget{
      @include dropshadow(1);
      background-color: white;
      border-radius: 3px;
      min-height: 250px;
      margin: 10px;
    }
  }

  @media (max-width: 600px) {
    #container {
      display: block;
      padding: 10px;
    }
  }

  #follows{
    .info{
      padding: 10px 20px;
      font-size: 24px;
      border-bottom: 1px solid lighten(#F4F5F7, 0);
    }
    .userList{
      list-style: none;
      padding: 0;
      margin: 0;
      min-width: 350px;
      li{
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
        cursor: pointer;
        transition: background-color .15s ease;
        .icon-wrapper{
          float: left;
          margin-right: 10px;
          height: 50px;
          .icon{
            display: inline-block;
            border-radius: 50%;
            height: 40px;
            margin: 5px;
          }
        }
        .displayName{
          float: left;
        }
        .date{
          float: right;
        }
        &:hover,
        &:focus{
          background-color: darken(white, 5);
        }
      }
    }
  }

  #userinfo{
    text-align: center;
    min-width: 250px;
    .banner{
      background-size: cover;
      background-position: 50% 50%;
      height: 150px;
      position: relative;
      margin-bottom: 50px;
      .icon{
        background-size: cover;
        background-position: 50% 50%;
        height: 80px;
        width: 80px;
        border-radius: 5px;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 100px;
      }
    }
    .info-list{
      text-align: left;
      list-style: none;
      padding: 0 25px;
      margin: 0;
      li{
        font-style: italic;
        margin: 10px 0;
        span{
          font-style: normal;
          font-weight: bold;
          margin-left: 10px;
        }
      }
    }
  }

  .widget{
    overflow: hidden;
  }
}
