#homepage{
  header{
    width: 100%;
    text-align: center;
    padding: 0 0 1em 0;
    .logo-wrapper{
      padding: 3em 0 0 0;
      width: 100%;
      .logo{
        border-radius: 50%;
        background-color: #C3C8CC;
        background-image: url(http://via.placeholder.com/100x100);
        background-size: cover;
        background-position: 50% 50%;
        width: 100px;
        height: 100px;
        display: inline-block;
      }
    }
    ul{
      list-style: none;
      padding: 0;
      li{

      }
    }
  }

  .spinner{
    width: 100%;
    min-height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #C3C8CC;
  }

  footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #C3C8CC;
    min-height: 150px;
  }
}
