@import "variables";
$footerHeight: 100px;
$featuresHeight: 265px;

#homepage{
  min-height: 100%;
  position: relative;

  header{
    position: relative;
    margin-bottom: $featuresHeight / 2;
    width: 100%;
    height: 65vh;
    text-align: center;
    background-color: $twitch;
    .info{
      padding-bottom: $featuresHeight / 2;
      color: #fff;
      font-weight: 200;
      font-size: 48px;
      width: 50%;
      margin-left: 10%;
      text-align: left;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      @media screen and (max-width: $break-medium) {
        width: 80%;
      }
      button{
        margin-top: 10px;
      }
    }
    .features{
      position: absolute;
      @include dropshadow(2);
      height: $featuresHeight;
      width: 80%;
      background-color: #fff;
      border-radius: 3px;
      bottom: - $featuresHeight / 2;
      left: 50%;
      transform: translateX(-50%);
      overflow: hidden;
      ul{
        height: 100%;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        li{
          text-align: center;
          height: $featuresHeight - 150px;
          width: 33.33%;
          float: left;
          padding-top: 150px;
          @media screen and (max-width: $break-medium) {
            width: 100%;
          }
          &.toolbox{
            background-image: url("../images/toolbox.svg");
            background-position: 50% 25px;
            background-size: 150px;
            background-repeat: no-repeat;
          }
          &.shot{
            background-image: url("../images/shot.svg");
            background-position: 50% 20px;
            background-size: 135px;
            background-repeat: no-repeat;
          }
          &.stats{
            background-image: url("../images/stats.svg");
            background-position: 50% 20px;
            background-size: 140px;
            background-repeat: no-repeat;
          }
          h2{
            font-weight: 400;
            margin: 0;
          }
          p{
            padding: 0 1em;
            margin-bottom: 0;
            font-weight: 300;
          }
        }
      }
    }
  }

  .spinner{
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #C3C8CC;
    background-image: url("../images/spinner/wallpaper.jpg");
  }

  .main{
    width: 100%;
    padding-bottom: $footerHeight;
  }

  footer{
    background: #C3C8CC;
    width: 100%;
    height: $footerHeight;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
