@import "variables";
$footerHeight: 100px;

#homepage{
  min-height: 100%;
  position: relative;

  header{
    width: 100%;
    height: 40vh;
    text-align: center;
    background-color: $twitch;
    padding: 0 0 1em 0;
    .logo-wrapper{
      padding: 3em 0 0 0;
      width: 100%;
      .logo{
        border-radius: 50%;
        background-color: #C3C8CC;
        background-image: url(http://via.placeholder.com/100x100);
        background-size: cover;
        background-position: 50% 50%;
        width: 100px;
        height: 100px;
        display: inline-block;
      }
    }
    ul{
      list-style: none;
      padding: 0;
      li{

      }
    }
  }

  .spinner{
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #C3C8CC;
    background-image: url("../images/spinner/wallpaper.jpg");
  }

  .main{
    width: 100%;
    padding-bottom: $footerHeight;
  }

  footer{
    background: #C3C8CC;
    width: 100%;
    height: $footerHeight;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
