@import "~normalize.css/normalize.css";
@import "variables";
@import "components";

html, body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #F4F5F7;
  height: 100%;
}

#app{
  height: 100%;
}
