<div id="app"></div>
<script type="text/javascript">
var __react_preload_data = "{{token}}";
</script>
<script src="http://localhost:3000/app/dist/vendor.js" charset="utf-8"></script>
<script src="http://localhost:3000/app/dist/followeralert.js" charset="utf-8"></script>
