{{#> _layout}}
<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700');
</style>
<div id="app"></div>
<script type="text/javascript">
var __react_preload_data = {{defaults.isLoggedIn}};
</script>
{{/_layout}}
